.perguntas {
  padding-top: 60px;
  padding-bottom: 60px;
}

.perguntas h2 {
  margin-bottom: 40px;
}

.perguntas dl > div {
  padding: 16px;
  border-radius: 4px;
}

.perguntas dl > div:nth-child(odd) {
  background-color: var(--cor-1);
}

.perguntas dt {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.perguntas dt::after {
  content: "";
  display: inline-block;
  grid-column: 3;
  width: 14px;
  height: 6px;
  background: url(../../img/icones/icones/seta-abrir.svg);
}

.perguntas dd {
  padding-top: 10px;
  max-width: 80ch;
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .perguntas {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .perguntas h2 {
    margin-bottom: 32px;
  }

  .font-1-xxl {
    font-size: 1.4rem;
  }

  .font-1-m-b {
    font-size: 1rem;
  }

  .font-2-s {
    font-size: 1rem;
  }
}
