.vantagens-bg {
  background-color: var(--cor-12);
}

.vantagens {
  padding-top: 60px;
  padding-bottom: 60px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 80px;
}

.vantagens-item h3,
.vantagens-item img {
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .vantagens {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .vantagens-item {
    gap: 40px 40px;
  }
}

@media (max-width: 600px) {
  .font-1-xxl {
    font-size: 1.8rem;
  }

  .font-1-l {
    font-size: 1.2rem;
  }

  .font-2-m {
    font-size: 1rem;
  }

  .vantagens-item img {
    width: 24px;
  }

  .vantagens h2 {
    margin-bottom: 32px;
  }

  .vantagens {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .vantagens-item {
    grid-template-columns: 1fr 1fr;
    gap: 40px 30px;
  }
}

@media (max-width: 400px) {
  .font-1-xxl {
    font-size: 1.4rem;
  }
  .font-1-l {
    font-size: 1rem;
  }

  .font-2-m {
    font-size: 0.8rem;
  }

  .vantagens-item img {
    width: 20px;
  }

  .vantagens h2 {
    margin-bottom: 32px;
  }

  .vantagens {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .vantagens-item {
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
  }
}
