.header-bg {
  background-color: #000;
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu:nth-child(1) {
  margin-top: 10px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.header-menu a {
  position: relative;
  display: inline-block;
  padding: 12px 0px;
  color: #fff;
  font-size: 1.1rem;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header {
    gap: 12px;
  }
  .header-menu a {
    background: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: #2e2e2e;
  }
  .header-menu a:hover::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 1rem;
  }
}

@media (max-width: 470px) {
  .header-menu,
  .header {
    flex-direction: column;
  }
  .header-menu {
    gap: 30px 0px;
  }

  .header-menu a {
    padding: 16px 20px;
    font-size: 1.2rem;
  }
}
